@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* > *{
    font-family: 'Poppins', sans-serif;
}

body{
    /* background: #dcdce6;
    background-image: url('./assets/fondo4.jpg');
    background-size: cover;
    background-repeat: no-repeat; */
}

.header{
    background-color: red;
}

.fondo{
    background: #dcdce6;
    background-image: url('./assets/fondo4.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
}

.fondo2{
    background: #dcdce6;
    background-image: url('./assets/Background.png');
}