.form{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0 auto;
}

.mb{
    margin-bottom: 25px;
}

.detalle{
    display: flex;
    height: 26px;
    margin: 0 650px;
    width: 50%;
}

.dato{
    width: 100px;
}

.link{
    margin-right: 10px;
}
.error{
    color: red;
}