.glass{
    @apply h-[97%] w-5/6;
}

.glass2{
    background: rgba(255, 255, 255, 0.55);
    border-radius: 16px;
    box-shadow: 0 4px 30px #4747470b;
    backdrop-filter: blur(7.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    @apply border-4 border-gray-50 shrink-0 h-[97%] w-5/6 rounded-3xl py-20 px-7 min-w-max;
}


.profile_img{
    @apply w-40 cursor-pointer;
}

.textbox{
    @apply w-[88%];
}